﻿@using WebParser.Web.Models
@model ReturnModel
@{
    ViewBag.Title = "Image Carousel";
}

<div class="jumbotron">
    <h1>Website Images and Word Count</h1>
    <p class="lead">Enter site url below and click submit</p>
</div>

<div class="row">
    @Html.ValidationSummary()
    @Html.Partial("UrlFormView", new UrlModel())
</div>

<div class="row">
    @if (Model != null)
    {
        <div class="col" style="float: left; width: 50%;">
            <div class="carousel-items">
                @foreach (var str in Model.Images)
                {
                    <div>
                        <img src="@str" style="max-height: 150px;" />
                    </div>
                }
            </div>
        </div>
        <div class="col">
            <h2>Total Words: @Model.WordCount.AllWords.Count</h2>

            <h3>Most Common Words:</h3>
            <table>
                <tr>
                    <th>Word</th>
                    <th>Count</th>
                </tr>
                @foreach (var m in Model.WordCount.MostCommon.Take(10))
                {
                    <tr>
                        <td>@m.Name</td>
                        <td>@m.Count</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>