﻿@using WebParser.Web.Models
@model WordCountModel
@{
    ViewBag.Title = "Word Count";
}

<div class="jumbotron">
    <h1>Website Word Count</h1>
    <p class="lead">Enter site url below and click submit</p>
</div>

<div class="row">
    @Html.ValidationSummary()
    @Html.Partial("WordFormView", new UrlModel())
</div>

<div class="row">
    @if (Model != null)
    {
        <h2>Total Words: @Model.AllWords.Count</h2>

        <h3>Most Common Words:</h3>
        <table>
            <tr>
                <th>Word</th>
                <th>Count</th>
            </tr>
            @foreach (var m in Model.MostCommon.Take(10))
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Count</td>
                </tr>
            }
        </table>
    }
</div>