﻿@model WebParser.Web.Models.UrlModel

@using (Html.BeginForm("WordCount", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Url, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
}